ul {
    display: flex;
        justify-content: center;
        flex-direction: row;
        justify-content: space-evenly
         
}
ul{
    background-color: black;
    color: white;
    padding: 18px;
}

li{
    cursor: pointer;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}
li:hover {
    background-color: white;
    color: black;

}