a{
    cursor: pointer;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: cyan;
    
}
/* unvisited link */
a:link {
    color: blue;
  }
  
  /* visited link */
  a:visited {
    color: red;
  }